.Side_bar{
    background-color:black;
    color:aliceblue;
    width: 150px;
    height: 100%;
    position: fixed;
    top-padding:100px;
    top: 0;
    bottom:0;
    left: 0;
}
.Side_bar ul{
    list-style: none;
    margin: 10px;
    padding:20px;
}
li{
    padding:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.sidebar a{
    text-decoration: none;
    color:black;
}
a:hover{
    background-color:aquamarine;
    color: black

}
.rounded-image{
    width:100px;
    height:100px;
    border-radius: 50px;
    overflow-y: none;
}
.my-name{
    font-size: 40px;
}
.content{
    margin-left: 200px;
}
.main-content{
    margin-left: 200px;

}
.introduction-text{
    font-size: 25px;
}
.contact-me{
    border:1px solid red;
    color:black;
    text-align: center;
    padding:10px;
    font-size:20px;
}
.contact-me a{
    border:1px solid black;
    border-radius: 5px;
    padding:8px;
    text-decoration: none;
    color: azure;
    background-color: black;
}
.contact-me a:hover{
    background-color:darkorange;
    color: black;
    transition: delay 200ms ease-in-out;
}


body{
    background-color: aquamarine;
}
#home{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('wahura.jpg') no-repeat center center/cover;
    height:900px;
    width:100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align:center;
    margin:40px 0px;
}
